@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #2D3440;
  background-color: #FEAFC3;
}

.visually-hidden {
  display: none;
}

.navigation-list {
  font-size: 16px;
  line-height: 20px;
}

.navigation-user {
  font-size: 14px;
  line-height: 20px;
}

.navigation-link {
  color: inherit;
  text-decoration: none;
}

.contacts-phone {
  color: inherit;
  font-weight: 700;
  text-decoration: none;
}

/*  3 главных вкуса  */
.ice-cream-best-flavours {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}

/*  Описания главных вкусов  */
.catalog-description {
  font-size: 18px;
  line-height: 24px;
  text-align: left;
}

/*   Не могу понять, как сделать полупрозрачную обводку вокруг кнопок? Подскажите пж    */
.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  border-radius: 26px;
}

.button-white {
  color: #2D3440;
  background: #FCFCFC;
  border: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
}

.button-red {
  color: #FCFCFC;
  background-color: #FF2F64;
  background: #FF2F64;
  border: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
}

.button-order {
  width: 139px;
  height: 44px;
}

.button-filter {
  font-weight: 700;
font-size: 14px;
line-height: 20px;

width: 185px;
height: 36px;
color: #2D3440;
background: rgba(252, 252, 252, 0.3);
border: 2px solid #FCFCFC;
border-radius: 20px;
}

/* Подскажите, пожалуйста, почему я не могу стилизовать ссылку button-gift под кнопку? Ширина с высотой не изменяются */
.button-gift {
  width: 176px;
  height: 44px;
  text-decoration: none;
}

.button-show-more {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

width: 179px;
height: 44px;
color: #2D3440;
background-color: #FCFCFC;
border: 4px solid rgba(252, 252, 252, 0.4);
box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
border-radius: 26px;
}

.marketing-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

.marketing-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.marketing-description {
  text-align: left;
}

.popular-flavours {
  text-align: center;
}

.flavours-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.flavours-subtitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.popular-flavours-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
}

.product-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.flavours-item {
  background-color: #FCFCFC;
  border-radius: 8px;
  width: 600px;
  margin: 30px;
}

.about-us {
  background: #FFFFFF;
  border-radius: 16px;
}

.about-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  width: 995px;
  height: 92px;
}

.about-us-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
}

.blog-news {
  color: inherit;
  background-color: #FFFFFF;
  background-image: url("../images/background/blog-news-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: right;
  width: 570px;
  height: 224px;
  border-radius: 16px;
}

.blog-news-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #565C66;
}

.blog-news-item {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  width: 303px;
  height: 91.67px;
}

.newsletter {
  color: inherit;
  background-color: #FFFFFF;
  padding: 6px;
  width: 558px;
  height: 212px;
  border-radius: 16px;
}

.newsletter-field {}

.newsletter-item {
  color: #565C66;
  width: 506px;
  height: 66px;
}

.delievery {
  color: inherit;
  background-color: #FFFFFF;
  background-image: url("../images/background/delievery-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: left;
  width: 1170px;
  height: 534px;
}

.delievery-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  width: 356px;
  height: 92px;
  left: 100px;
  top: 167px;
}

.delievery-description {
  color: #565C66;
  width: 371px;
  height: 88px;
  left: 100px;
  top: 283px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.delievery-form {
  width: 500px;
  height: 406px;
  left: 606px;
  top: 64px;
  background: #FCFCFC;
  box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
}

.delievery-form-description {
  width: 380px;
  height: 44px;
  left: 646px;
  top: 104px;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
}

.form-label {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.contacts {
  width: 1170px;
  height: 492px;
  background-color: inherit;
  background-image: url("../images/background/contacts-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: right;
  border-radius: 16px;
}

.contacts-form {
  color: #565C66;
  width: 343px;
  height: 364px;
  color: inherit;
  background-color: #FCFCFC;
  box-shadow: 0px 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
}

.contacts-address {
  color: #2D3440;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
}


.documentation-link {
  color: #2D3440;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}

.documentation-link-main {
  font-weight: 700;
}

.copyright-item {
  font-size: 12px;
  line-height: 16px;
}



/*    Каталог     */
.breadcrumbs {
font-weight: 700;
font-size: 14px;
line-height: 20px;
}


.breadcrumbs-link {
  color: #2D3440;
  text-decoration: none;
}

.catalog-title {
font-weight: 900;
font-size: 32px;
line-height: 46px;
}

.catalog-products {
font-size: 14px;
line-height: 20px;
}

.product-card {
  background-color: #FCFCFC;
  width: 600px;
  margin: 30px;
  border-radius: 8px;
  color: #565C66;
  text-align: center;
}

.product-card-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.product-card-link {
  color: #2D3440;
  text-decoration: none;
}

.product-card-price {
  color: #2D3440;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.pagination {
padding: 41px 98px;
gap: 335px;
}

.pagination-link {
color: #2D3440;
line-height: 20px;
text-decoration: none;
}

.pagination-current {
  padding: 2px 8px;
  width: 24px;
  height: 24px;

  background: #FCFCFC;
  border-radius: 50px;
}

.pagination-disabled {
  /*     Не понимаю, как изменить стиль выключенной стрелки на полупрозрачный и увеличить размер обоих стрелок     */
}
