@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

a {
  /*  color: red; */
  cursor: pointer;
}

/* a:visited { color: grey; }
a:hover { color: blue; }
a:active { background-color: yellow; }
*/


html {
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #2D3440;
  background-color: #FEAFC3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-container {
  flex-grow: 1;
}

.page-container {
    /* background-color: grey; */
  width: 1170px;
  margin: 0 auto;
}

.navigation {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 1170px;
  margin: 0 auto;
}

.navigation-company-container {
  margin: 24px 0;
  display: flex;
  justify-content: space-between;
  width: 575px;
}

.navigation-logo {
  margin: 0;
  padding: 0;
  display: block;
  align-items: center;
  width: 137px;
}

.navigation-company-list {
  width: 422px;
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}

.navigation-company-link {
  position: relative;
  display: block;
  color: inherit;
  text-decoration: none;
  padding: 8px 16px;
}

.navigation-user {
  align-items: center;
  display: flex;
  max-width: 500px;
  margin: 36px 0;
  margin-left: auto;
  font-size: 14px;
  line-height: 20px;
}

.navigation-item:not(:last-child) {
  margin-right: 16px;
}

.navigation-link {
  position: relative;
  min-width: 32px;
  min-height: 32px;
  text-decoration: none;
}

.navigation-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.navigation-catalog {
  padding-right: 38px;
}

.navigation-catalog-arrow {
  left: auto;
  right: 16px;
  margin: auto 0;
}

.contacts-phone {
  color: #2D3440;
  font-weight: 700;
  text-decoration: none;
  width: 148px;
}

.navigation-search {
  display: block;
  background: rgba(252, 252, 252, 0.3);
  border-radius: 27px;
}

/*  Не понимаю как сделать светлый background круглым, как на макете  */
.navigation-search-image {
  display: block;
}

.navigation-login {
  background: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
  padding: 6px 16px;
  padding-left: 38px;
}

.navigation-login-image {
  right: auto;
  left: 16px;
  margin: auto 0;
}

.navigation-card {
  margin: 0;
  background: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
  padding: 6px 16px;
  padding-left: 38px;
  margin-right: 0;
}

.navigation-card-image {
  right: auto;
  left: 16px;
  margin: auto 0;
}

/* Секция с 3 рожками мороженого */
.ice-cream-catalog {
  margin-bottom: 80px;
 /* background-color: green; */
}

.ice-cream-catalog-content {
margin-top: 136px;
margin-left: 70px;
margin-bottom: 138px;
}


.catalog-item {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 630px;
  grid-template-rows: auto;
}

.image-and-buttons {
  position: relative;
}


.ice-cream-buttons {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  width: 350px;
}

.form-label {
  margin-bottom: 8px;
}

.field {
  box-sizing: border-box;
  margin: 0;
  color: inherit;
  padding: 14px 16px;
  font: inherit;
  font-size: 16px;
  line-height: 20px;
  background-color: #ffffff;
  border: none;
  outline: 1px solid #B9B9B9;
  border-radius: 4px;
}

.field::placeholder {
  outline-color: #B9B9B9;
  color: #B9B9B9;
}

.field:empty {
  outline: 1px solid #B9B9B9;
}

.field:hover {
  outline: 1px solid #2D3440;
}

.field:focus {
  outline: 2px solid #2D3440;
  border-radius: 4px;
}

.field:invalid {
  outline: 1px solid #EA5454;
}


.field:invalid:hover {
  outline: 2px solid #EA5454;
}

.field:disabled {
  background-color: #E7E7E7;
  opacity: 0.65;
}

.field:disabled:hover {
  background-color: #E7E7E7;
  outline: 1px solid #B9B9B9;
}



.catalog-image {
  display: block;
  position: relative;
  padding: 21px;
  padding-bottom: 26px;
}

.catalog-image::after {
  position: absolute;
 content: "";
 left: calc(50% - 312px/2 + 3px);
 top: calc(50% - 312px/2);
 width: 312px;
 height: 312px;
 border-radius: 50%;
}

.ice-cream-best-flavours {
  margin: 0;
  padding: 0;
  width: 470px;

  margin-bottom: 24px;
}

/*  Описания главных вкусов  */
.catalog-description {
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  width: 429px;
  margin-bottom: 48px;
}

.pagination-socials-wrapper {
  display: flex;
  justify-content: space-between;
}

.slider-pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  width: 52px;
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  padding: 0;
  margin: 0;
  background: #FCFCFC;
  opacity: 0.3;
  border-radius: 100px;
  border: none;
  outline: none;
  cursor: pointer;
}

.slider-pagination-button-current {
  opacity: 1;
}

.pagination-button-image {
  display: block;
}

/*  3 главных вкуса  */
.ice-cream-best-flavours {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}

.catalog-list {

}



.socials-main {
  align-items: center;
  margin: 0;
  max-width: 104px;
}

.socials-main-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: flex-end;
}

.socials-main-item {

}

.socials-main-item:nth-child(3n) {
  margin-right: 0;
}

.socials-button {
  margin: 0;
  padding: 0;
}

.socials-icon {}

.button {
  display: inline-block;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  color: inherit;
  background-color: #FCFCFC;
  border-radius: 26px;
  padding: 12px 32px;
  cursor: pointer;
  border: none;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.button-red {
  color: #FCFCFC;
  background-color: #FF2F64;
  outline: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.slider-button {
  width: 38px;
  height: 38px;
  border: none;
  cursor: pointer;
  background-color: inherit;
}

.button-round-red {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: #FF2F64;
  border-radius: 26px;
  width: 32px;
  height: 32px;
  position: relative;
}

.popular-flavours-cart {
  fill: #FCFCFC;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #FCFCFC;
  border-radius: 26px;
  width: 38px;
  height: 38px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.red-round-cart {
  display: block;
  margin: 0;
  align-items: center;
}

.button-order {}

.button-filter {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  border: 2px solid #FCFCFC;
  border-radius: 20px;
}

.button-gift {
  margin: 0;
  margin-left: 38px;
}

.marketing-offer {
  margin-bottom: 80px;
}

.marketing-gifts-container {
  display: flex;
  justify-content: space-between;
  width: 1170px;
}

.marketing-title {
  margin: 0;
  margin-bottom: 55px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

.marketing-subtitle {
  margin: 36px;
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.marketing-strawberry {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.marketing-description {
  margin: 28px 36px;
  margin-right: 0;
  width: 328px;
  text-align: left;
}

.marketing-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  height: 268px;
}

.marketing-item {
  width: 570px;
  list-style: none;
  color: inherit;
  background-color: #FF7799;
  border-radius: 16px;
}

.marketing-image {
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: -13px;
}

.strawberry-container {
  width: 570px;
  height: 268px;
  display: flex;
  background-color: #FF7799;
  border-radius: 16px;
}

.marshmellow-container {
  width: 570px;
  height: 268px;
  display: flex;
  background-color: #FF7799;
  border-radius: 16px;
}

.popular-flavours {
  text-align: center;
  margin-bottom: 80px;
}

.flavours-list {
  display: flex;
  justify-content: space-between;
}

.flavours-item {
  background-color: #FCFCFC;
  border-radius: 8px;
  width: 270px;
  height: 281px;
}

.flavours-image {
  margin: 0;
  margin-top: -51px;
  border-radius: 100px;
}

.flavours-info {
  margin: 0 40px;
  margin-bottom: 24px;
  width: 190px;
  min-height: 124px;
}

.flavours-title {
  margin: 0;
  margin-bottom: 107px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.flavours-subtitle {
  /* Здесь явно должен быть больше отступ от картинки выше, но на фигме этого не видно и он не обозначается */
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.popular-flavours-description {
  margin: 0;
  margin-bottom: 16px;
  width: 190px;
  height: 44px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #565C66;
}

.product-price {
  margin: 0;
  margin-right: 40px;
  /*  margin-right на самом деле 73px, но выпадает из контейнера.   */
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.price-and-card {
  width: 190px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-us {
  padding: 56px 40px;
  background: #FFFFFF;
  border-radius: 16px;
  margin: 30px 0;
  margin-bottom: 80px;
  border: 24px solid;
  border-image: url(../images/wrappers/waffle.png);
  border-image-slice: 30;

}

.about-title {
  margin: 0;
  margin-bottom: 56px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

.about-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 32px;
}

.about-item {
  display: grid;
  grid-template-columns: 48px 1fr;
  gap: 16px;
}

.about-us-description {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
}

.about-item:nth-child(1) .about-us-icon {
  background-image: url(../images/about/about-ice-cream.svg);
  background-repeat: no-repeat;
}

.about-item:nth-child(2) .about-us-icon {
  background-image: url(../images/about/about-cow.svg);
  background-repeat: no-repeat;
}

.about-item:nth-child(3) .about-us-icon {
  background-image: url(../images/about/about-leaf.svg);
  background-repeat: no-repeat;
}

.about-item:nth-child(4) .about-us-icon {
  background-image: url(../images/about/about-thermometer.svg);
  background-repeat: no-repeat;
}

.about-img {}

.blog-and-newsletter {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
  margin-bottom: 80px;
}

.blog-news {
  color: inherit;
  background-color: #FFFFFF;
  background-image: url("../images/background/blog-news-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center right;
  width: 570px;
  height: 224px;
  border-radius: 16px;
}

.blog-news-title {
  margin: 0;
  margin-bottom: 12px;
  /* 12.22px по фигме */
  padding-left: 32px;
  padding-top: 32.59px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #565C66;
}

.blog-news-item {
  margin: 0;
  padding-left: 32px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  width: 303px;
  height: 91.67px;
}

.newsletter {
  width: 570px;
  height: 224px;
  color: inherit;
  background-color: #FFFFFF;
  box-sizing: border-box;
  padding: 26px;
  border-radius: 16px;
  border: 6px solid;
  border-image: url(../images/wrappers/red-blue-stripes.png);
  border-image-slice: 16;
}


.newsletter-item {
  margin: 0;
  padding: 0;
  color: #565C66;
  margin-bottom: 42px;
}

.newsletter-form {
display: flex;
justify-content: space-between;
}

.newsletter-field {
  width: 332px;
}

.newsletter-button {
margin-left: 14px;
}

.delievery {
  margin: 30px 0;
  color: inherit;
  background-color: #FFFFFF;
  background-image: url("../images/background/delievery-background.jpg");
  background-repeat: no-repeat;
  background-size: 105% auto;
  background-position: right;
  width: 1170px;
  height: 534px;
  border-radius: 16px;
  margin-bottom: 80px;
  transform: scaleX(-1);
}

/* div-1 */
.delievery-all {
  display: flex;
  justify-content: space-between;
  transform: scaleX(-1);
}

/* div-2 */
.delievery-info {
  padding-top: 167px;
  padding-left: 100px;
  padding-bottom: 163px;
}

.delievery-title {
  margin: 0px;
  margin-bottom: 24px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  width: 356px;
  height: 92px;
}

.delievery-description {
  margin: 0;
  color: #565C66;
  width: 371px;
  height: 88px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.delievery-form {
  position: absolute;
  width: 500px;
  height: 406px;
  margin: 64px;
  margin-left: 606px;
  background: #FCFCFC;
  box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
}

.delievery-form-container {
  margin: 40px;
  margin-top: 0;
  display: grid;
  grid-template-columns: 117px 287px;
  gap: 16px 20px;
}

.delievery-form-address {
  grid-column: 1 / -1;
}

.delievery-form-button {
  grid-column: 1 / -1;
  justify-self: center;
  padding-top: 12px;
}

.field-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0;
}

.delievery-form-container .info {
  display: none;
}

.delievery-all-forms {
  background: #FFFFFF;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
}

.delievery-form-description {
  margin: 0;
  padding: 40px 80px 32px 40px;
  width: 380px;
  height: 44px;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
}

.form-label {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.contacts-wrapper {
  background-color: inherit;
  background-image: url("../images/background/contacts-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top right;
  background-position: center;
  border-radius: 16px;
}

.contacts {
  width: 1170px;
  height: 492px;
  border-radius: 16px;
}

.contacts-position {
  display: inline-block;
  margin: 64px;
  width: 343px;
  height: 364px;
}

.contacts-form {
  color: #565C66;
  background-color: #FCFCFC;
  box-shadow: 0px 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  padding: 40px;
}

.contacts-subtitle {
  margin: 0;
  margin-bottom: 12px;
}

.contacts-address a {
  display: block;
  color: #2D3440;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  margin-bottom: 24px;
}

.delievery-contacts-tel {
  margin-top: 24px;
  margin-bottom: 12px;
}

.phone-info {
  margin: 0 auto;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 32px;
}

.page-footer-container {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  margin: 0 auto;
  padding: 48px 0;
}

.socials-footer {
  margin: 0;
  max-width: 104px;
  margin-right: 299px;
  margin-left: 4px;
}

.socials-footer-list {
  display: flex;
  flex-wrap: wrap;
}

.socials-footer-item {
  width: 24px;
  height: 24px;
  margin-right: 16px;
  margin-bottom: 16px;
}

.socials-footer-item:nth-child(3n) {
  margin-right: 0;
}

.documentation {
  width: 356px;
  margin: 0;
  padding: 0;
  margin-right: 200px;
}

.documentation-list {
  display: flex;
  flex-wrap: wrap;
}

.documentation-item {
  list-style: none;
  margin-right: 24px;
  margin-bottom: 8px;
}

.documentation-item:nth-child(3) {
  margin-right: 39px;
}

.documentation-providers {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  margin-left: -24px;
  position: relative;
  padding-left: 24px;
}

.footer-documentation-heart {
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: 0;
  margin: auto;
  margin-right: auto;
}

.documentation-link {
  color: #2D3440;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}

.documentation-link-main {
  font-weight: 700;
}

.copyright {
  margin: 0;
  margin-left: auto;
  margin-right: 14px;
  max-width: 200px;
}

.copyright-list {
}

.copyright-item {
  list-style: none;
}

.copyright-item {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

.copyright-item-logo {
  display: block;
  margin-bottom: 14px;
}

.copyright-item-info {
  margin: 0;
  color: #2D3440;
}

/*    Каталог     */
.inner-header {
  width: 379px;
}

.main-inner {}

.breadcrumbs-container {
  padding-top: 32px;
  margin-bottom: 40px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.breadcrumbs-link {
  color: inherit;
  color: #2D3440;
  text-decoration: none;
  display: block;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 28px;
  list-style: none;
}

.breadcrumbs-item::after {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  background-image: url(../images/double-arrow.svg);
  background-repeat: no-repeat;
  top: 7px;
  right: -20px;
}

.breadcrumbs-item:last-child.breadcrumbs-item::after {
  content: none;
}

.filter-group {
  margin: 0;
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
}

.filter-form {
  display: grid;
  grid-template-columns: 196px 196px 164px 196px;
  column-gap: 24px;
  row-gap: 16px;
  margin-bottom: 95px;
}

.filter-fat {
  grid-column: 3 / -1;
}

.filter-fillers {
  grid-column: 1 / 4;
}

.filter-button {
  padding: 8px 52px;
  font-size: 14px;
  color: #2D3440;
  background-color: rgba(252, 252, 252, 0.3);
  outline: 2px solid #FCFCFC;
  border-radius: 20px;
  align-self: flex-end;
  justify-self: start;
  margin-left: -8px;
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 7px 24px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 18px;
}


.filter-title {
  display: inline-flex;
  color: #2d3440;
  padding-left: 16px;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 20px;

}

.select-control {
  padding: 8px 16px;
  font: inherit;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  background-color: rgba(250, 250, 250, 0.3);
  background-image: url("../images/catalog/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
  border: none;
  border-radius: 20px;
  appearance: none;
  cursor: pointer;
}

.select-control:hover {
    background-color: rgba(252, 252, 252, 0.5);
}

  .select-control:focus {
    background-color: rgba(252, 252, 252, 0.4);
    outline: 2px solid #fcfcfc;
  }

.catalog-title {
  margin: 0;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.catalog-filter-list {
  align-items: center;
  display: flex;
  flex-wrap:wrap;
  gap:16px;
  padding: 7px 24px;
  background-color: rgba(252, 252, 252, 0.3);
 border-radius: 18px;
}

.control {
  position: relative;
  display: block;
  padding-left: 24px;
}


.control-mark {
  position: absolute;
 padding: 0;
 top: 3px;
 left: 0;
 width: 16px;
 height: 16px;
 cursor: pointer;
}

.control-label {
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
}

.control:hover .control-mark {
  border-color: #FCFCFC;
}

.control-input:disabled + .control-mark {
  border-color: #2D3440;
}

.control-input[type="radio"] + .control-mark {
  background-image: url("../images/catalog/filter/radio-empty.svg");
}

.control-input[type="radio"]:checked + .control-mark {
  background-image: url("../images/catalog/filter/radio-checked.svg");
}

.control-input[type="radio"] + .control-mark:hover {
  background-image: url("../images/catalog/filter/radio-empty-hover.svg");
}

.control-input[type="radio"]:checked + .control-mark:hover {
  background-image: url("../images/catalog/filter/radio-checked-hover.svg");
}

.control-input[type="radio"]:disabled + .control-mark {
  background-image: url("../images/catalog/filter/radio-empty-disabled.svg");
  opacity: 0.4;
}

.control-input[type="radio"]:disabled:checked + .control-mark {
  background-image: url("../images/catalog/filter/radio-checked-disabled.svg");
}

.control-input[type="checkbox"] + .control-mark {
  background-image: url("../images/catalog/filter/checkbox-empty.svg");
}

.control-input[type="checkbox"]:checked + .control-mark {
  background-image: url("../images/catalog/filter/checkbox-checked.svg");
}

.control-input[type="checkbox"] + .control-mark:hover {
  background-image: url("../images/catalog/filter/checkbox-empty-hover.svg");
}

.control-input[type="checkbox"]:checked + .control-mark:hover {
  background-image: url("../images/catalog/filter/checkbox-checked-hover.svg");
}

.control-input[type="checkbox"]:disabled + .control-mark {
  background-image: url("../images/catalog/filter/checkbox-empty-disabled.svg");
  opacity: 0.5;
}

.control-input[type="checkbox"]:disabled:checked + .control-mark {
  background-image: url("../images/catalog/filter/checkbox-checked-disabled.svg");
}


.catalog-filter-title {
  margin-bottom: 8px;
}


.catalog-filter-item {
  align-items: center;
}

.range {
  box-sizing: border-box;
  width: 196px;
  height: 36px;
  padding: 10px 16px;
  background-color: rgba(250, 250, 250, 0.3);
  border-radius: 20px;
}

.range-scale {
  position: relative;
  height: 2px;
  background-color: rgba(86, 92, 102, 0.3);
  border-radius: 20px;
  top: 50%;
}

.range-bar {
 position: absolute;
 height: 2px;
 background-color: rgba(86, 92, 102, 1);
}

.range-toggle {
 width: 16px;
 height: 16px;
 position: absolute;
 padding: 0;
 background-color: #FCFCFC;
 border: 6px solid #2D3440;
 border-radius: 50%;
 cursor: pointer;
 box-sizing: border-box;
}

.range-toggle:hover {
  background-color: #2D3440;
  border: 6px solid #FCFCFC;
}

.range-toggle:active {
  background-color: #2D3440;
  border: 6px solid #2D3440;
  outline: none;
}

.range-toggle:focus {
  background-color: #2D3440;
  border: 6px solid #FCFCFC;
  outline: 2px solid #2D3440;
}

.toggle-min {
  top: -7px;
  left: -8px;
}

.toggle-max {
  top: -7px;
  right: -8px;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.catalog-filter-label {
  display: flex;
  margin-right: 5px;
}

.range-input {
  width: 30px;
  padding: 0 2px;
  font: inherit;
  text-align: center;
  background-color: transparent;
  border: none;
  appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}


.product-assortment {
  text-align: center;
  margin-bottom: 16px;
}

.product-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 30px;
  grid-row-gap: 91px;
}

.product-card {
  background-color: #FCFCFC;
  border-radius: 8px;
  width: 270px;
  height: 281px;
  display: flex;
  flex-direction: column;
}

.product-card-image-link {
  text-decoration: none;
}

.product-card-image {
  margin: 0;
  margin-top: -51px;
  border-radius: 100px;
}

.product-card-content {
  padding: 0px 40px 24px 40px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.price-and-card {
  margin-top: auto;
}

.product-card-title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.product-card-description {
  margin: 0;
  width: 190px;
  height: 44px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #565C66;
}

.product-card-price {
  margin: 0;
  margin-top: auto;
  color: #2D3440;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  justify-content: space-between;
}

.pagination-container {
  height: 126px;
  background-color: #FEAFC3;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hidden-container {
  width: 179px;
  height: 44px;
}

.button-show-more {
  padding: 0;
  width: 179px;
  height: 44px;
  color: #2D3440;
  background-color: #FCFCFC;
  border: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
}

.pagination-wrapper {
  width: 168px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}

.pagination-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  color: #2D3440;
  line-height: 20px;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.pagination-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.pagination-arrow-left {
  right: auto;
  margin: auto 0;
}

.pagination-arrow-right {
  left: auto;
  margin: auto 0;
}

.pagination-current {
  width: 24px;
  height: 24px;
  background: #FCFCFC;
  border-radius: 50px;
}

.footer-line {
  border: 1px solid rgba(252, 252, 252, 0.3);
}



.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  outline: 2px solid rgba(252, 252, 252, 0.3);
  border-radius: 24px;
}

.socials-link:hover {
  outline: 2px solid rgba(252, 252, 252, 0.5);
  border-radius: 24px;
}

.socials-link:focus {
  outline: 2px solid #2D3440;
  border-radius: 24px;
}

.socials-link:active {
  outline: 2px solid rgba(252, 252, 252, 0.5);
  border-radius: 24px;
}

.socials-icon {
  fill: #FCFCFC;
}

.socials-icon:hover {
  fill: #2D3440;
}

.socials-icon:focus {
  fill: #2D3440;
}

.socials-icon:active {
  fill: #2D3440;
}

/* Иконки соцсетей почему-то не меняют свой цвет при взаимодействии */
.button-round-red:hover {
  background-color: rgba(252, 252, 252, 0.3);
  outline: 2px solid #FF2F64;
}

.button-round-red:focus {
  outline: 2px solid #2D3440;
}

.button-round-red:active {
  background-color: #FFCBD8;
  outline: 2px solid #ff2f64;
}

.button-round-red:disabled {
  background-color: #B9B9B9;
  outline: none;
}

.button-round-red .popular-flavours-cart {
  fill: #FCFCFC;
}

.button-round-red:hover .popular-flavours-cart {
  fill: #2D3440;
}

.button-round-red:active .popular-flavours-cart {
  fill: #2D3440;
}

.button-round-red:disabled .popular-flavours-cart {
  fill: #565C66;
}

.slider-pagination-button:not(.slider-pagination-button-current):hover {
  background-color: rgba(252, 252, 252, 0.3);
  outline: 1px solid #FCFCFC;
}

.slider-pagination-button:not(.slider-pagination-button-current):focus {
  background-color: rgba(252, 252, 252, 0.3);
  outline: 1px solid #2D3440;
}

.slider-pagination-button:not(.slider-pagination-button-current):active {
  background-color: #FCFCFC;
}

.pagination-link:not(.pagination-current):hover {
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 50px;
}

.pagination-link:not(.pagination-current):focus {
  background-color: rgba(252, 252, 252, 0.3);
  outline: 1px solid #2D3440;
  border-radius: 50px;
}

.pagination-link:not(.pagination-current):active {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 1px solid #FCFCFC;
  border-radius: 50px;
}

.breadcrumbs-link {}

.breadcrumbs-link-current {
  border-bottom: 1px solid #2D3440;
}

.popover {
display: none;
}

.navigation-item,
.navigation-company-item {
  position: relative;
}

.popover-cart {
  position: absolute;
  box-sizing: border-box;
  top: 40px;
  right: 0;
  width: 441px;
  min-height: 110px;
  padding: 48px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  z-index: 1;
}

.popover-title {
  margin: 0;
  margin-bottom: 32px;
}

.popover-cart-products {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 64px;
}

.popover-cart-item {
  display: flex;
  width: 345px;
  position: relative;
}

.popover-cart-item:last-child::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #e7e7e7;
  bottom: -32px;
}

.popover-cart-image {
  display: block;
  margin: 0;
  padding: 0;
  margin-right: 16px;
}

.popover-cart-product-content {
  min-width: 164px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.popover-cart-product-title {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #2D3440;
  margin: 0;
  padding: 0;
}

.popover-cart-product-description {
  font-size: 14px;
  line-height: 20px;
  color: #B9B9B9;
  margin: 0;
}

.popover-cart-price {
  align-self: center;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #2D3440;
}

.popover-cart-item-delete {
  margin-left: auto;
  align-self: center;
  width: 16px;
  height: 16px;
  padding: 0;
  background-color: transparent;
  background-image: url("../images/popover/popover-icon-delete.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.popover-cart-total-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popover-cart-empty {
  display: none;
  position: absolute;
  box-sizing: border-box;
  top: 40px;
  right: 0;
  width: 288px;
  padding: 48px 0;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  z-index: 1;
}

.popover-cart-title {
 margin: 0;
 margin-bottom: 32px;
 font-size: 24px;
 font-weight: 700;
 line-height: 30px;
 color: #2d3440;
}

.popover-cart-title-empty {
  margin: 0;
  padding: 0;
  text-align: center;
}

.popover-login {
  display: none;
  position: absolute;
  top: 40px;
  right: 0;
  box-sizing: border-box;
  width: 420px;
  padding: 48px 48px 52px 48px;
  background-color: #fcfcfc;
  border-radius: 4px;
  z-index: 1;
}

.popover-login-form {
  display: flex;
  flex-direction: column;
}

.popover-login-form .popover-login-field {
  width: 100%;
}

.popover-login-field {
  margin: 0;
}

.popover-login-field-group {
  margin-top: 0;
}

.popover-login-field-group:last-of-type {
  margin-bottom: 32px;
}

.popover-login-links-wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 4px;
}

.popover-login-wrapper {
  display: flex;
  gap: 23px;
}

.popover-login-link {
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
  border-bottom: 1px solid #2d3440;
}

.popover-search {
  position: absolute;
  display: none;
  width: 356px;
  box-sizing: border-box;
  padding: 24px 16px;
  right: 0;
  top: 40px;
  z-index: 1;
  background-color: #fcfcfc;
  border-radius: 4px;
}

.popover-search-field {
  width: 100%;
}

.popover-catalog {
  position: absolute;
  display: none;
  top: 44px;
  width: 135px;
  padding: 8px 0;
  background-color: #fcfcfc;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 4px;
  box-sizing: border-box;
  z-index: 1;
}

.popover-link {
  position: relative;
  display: block;
  padding: 6px 12px 6px 16px;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
}

.popover-link-current {
  padding: 8px 16px 12px 16px;
  font-weight: 700;
}

.popover-link-current::after {
  position: absolute;
  content: "";
  width: 106px;
  height: 1px;
  bottom: 0;
  left: 16px;
  background-color: #b9b9b9;
}

.navigation-link-active .navigation-catalog-arrow {
  transform: rotate(180deg);
}

.navigation-link-active {
  color: #FCFCFC;
  background-color: #FF4A78;
  border-radius: 30px;
}

.navigation-link-active:hover {
  background-color: #FF4A78;
  opacity: 0.6;
}

.navigation-link-active:focus {
  background-color: #FF4A78;
  outline: 2px solid #000000;
}

.navigation-link-active:active {
  background-color: #FF4A78;
  opacity: 0.3;
  outline: none;
}

.navigation-link-active svg {
  fill: #FCFCFC;
}

/* Почему иконки в хедере не перекрашиваются в белый цвет? */

.popover-open {
  display: block;
}



.navigation-company-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 30px;
}

.navigation-company-link:focus {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2D3440;
  border-radius: 30px;
  outline: none;
}

.navigation-company-link:active {
  background-color: #FCFCFC;
  border-radius: 30px;
}

.navigation-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 27px;
}

.navigation-link:focus {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2D3440;
  border-radius: 27px;
}

.navigation-link:active {
  background: #FCFCFC;
  border-radius: 27px;
}

.button-white:hover {
  background-color: rgba(252, 252, 252, 0.4);
  outline: 4px solid #FCFCFC;
  box-shadow: 0px 4px 15px rgba(133, 133, 133, 0.15);
  border-radius: 26px;
}

.button-white:active {
  background-color: #FCFCFC;
  outline: 2px solid #2D3440;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
}

.button-white:focus {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2D3440;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
}

.button-white:disabled {
  background-color: #E7E7E7;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  border-radius: 26px;
}

.button-white: /* loading? /* {
  /*  Какое свойство имеет кнопка со спиннером? hover/focus/disabled  */
}

.button-red:hover {
  color: #2D3440;
  background-color: rgba(252, 252, 252, 0.3);
  outline: 4px solid #FF2F64;
}

.button-red:active {
  color: #FCFCFC;
  background-color: #FEAFC3;
  outline: 2px solid #2D3440;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
}

.button-red:focus {
  color: #FCFCFC;
  background-color: #FF2F64;
  outline: 2px solid #2D3440;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
}

.button-red:disabled {
  color: #565C66;
  background-color: #B9B9B9;
  outline: 4px solid rgba(185, 185, 185, 0.3);
}

.button-red {
  /* спиннер */
}

.slider-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #FCFCFC;
  border-radius: 26px;
  width: 38px;
  height: 38px;
}

.slider-button:hover {
  background-color: #FCFCFC;
}

.slider-button:active {
  background-color: rgba(252, 252, 252, 0.5);
  border: none;
}

.slider-button:focus {
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #2D3440;
}

.slider-button:disabled {
  background-color: rgba(252, 252, 252, 0.3);
  opacity: 0.4;
  border: 2px solid #FCFCFC;
}

.slider-button-icon {
  fill: #FCFCFC;
}

.slider-button:hover .slider-button-icon {
  fill: #2D3440;
}

.slider-button:active .slider-button-icon {
  fill: #2D3440;
}

.slider-button:focus .slider-button-icon {
  fill: #2D3440;
}

.slider-button:disabled .slider-button-icon {
  fill: #FCFCFC;
}

.button-round-red:hover {
  background-color: rgba(252, 252, 252, 0.3);
  outline: 2px solid #FF2F64;
  border-radius: 26px;
}

.button-round-red:active {
  background-color: #FFCBD8;
  outline: 2px solid #FF2F64;
  border-radius: 26px;
}

.button-round-red:focus {
  background-color: #FF2F64;
  outline: 2px solid #2D3440;
  border-radius: 26px;
}

.button-round-red:disabled {
  background-color: #B9B9B9;
  border-radius: 26px;
}

.tooltip {
   position: relative;
   margin-top: 3px;
   margin-left: 4px;
   width: 16px;
   height: 16px;
}

.tooltip-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
}

.tooltip-toggle:hover .tooltip-icon {
  color: #2d3440;
}

.tooltip-icon {
  width: 100%;
  height: 100%;
  display: block;
}

.tooltip-text {
  box-sizing: border-box;
  position: absolute;
  display: none;
  top: -9px;
  left: 22px;
  min-width: 162px;
  padding: 10px 8px;
  margin-left: 2px;
  font-size: 12px;
  line-height: 16px;
  color: #565c66;
  background-color: #fcfcfc;
  border: 1px solid #B9B9B9;
  box-shadow: 0 2px 12px rgba(173, 152, 143, 0.18);
  border-radius: 1px;
  z-index: 1;
}

.tooltip-text::before,
.tooltip-text::after {
  position: absolute;
  display: block;
  content: "";
  top: 9px;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-left-width: 0;
}

.tooltip-text::before {
  left: -8px;
  border-right-color: #b9b9b9;
}

.tooltip-text::after {
  left: -7px;
  border-right-color: #fcfcfc;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.form-label {
  display: flex;
  margin: 0;
}
